@import './lib/normalize.css';
@import './lib/skeleton.css';
@import './components/hero';
@import './components/room-chooser';

$backgroundColor: #292b2c;
$fontColor: #fff;
$secondaryFontColor: #292b2c;

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  color: $fontColor;
  background-color: $backgroundColor;
  font-size: 1.6rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

input {
  color: $secondaryFontColor;
}
