$backgroundColor: #292b2c;
$secondaryBackgroundColor: #fff;
$fontColor: #fff;
$secondaryFontColor: #292b2c;
$primaryColor: #33c3f0;
$transparentBackgroundColor: rgba(100, 100, 100, 0.4);
$transparentBackgroundHoverColor: rgba(100, 100, 100, 0.3);
$disabledBackgroundColor: rgba(100, 100, 100, 0.9);
$hangUpBackgroundColor: #db4437;
$userNoVideoColor: #ccc;
