$backgroundColor: #292b2c;
$secondaryBackgroundColor: #535760;
$fontColor: #fff;
$secondaryFontColor: #292b2c;
$transparentBackgroundColor: rgba(100, 100, 100, 0.4);
$transparentBackgroundHoverColor: rgba(100, 100, 100, 0.3);
