#chat {
  #peer-streams {
    height: 70%;
    display: grid;
    padding: 2rem;
    grid-gap: 2rem;

    .peer-stream {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  #my-stream {
    display: flex;
    height: 30%;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    background-color: $secondaryBackgroundColor;

    #my-video {
      margin: 0 3rem;
    }

    .control {
      border-radius: 50%;
      width: 5rem;
      height: 5rem;
      line-height: 5rem;
      margin: 0;
      padding: 0;

      &.on {
        background: 0;
        border: 0;

        &:hover {
          background: 0;
          border: 0;
        }
      }

      svg {
        vertical-align: middle;
      }
    }
  }

  video {
    max-width: 100%;
    max-height: 100%;
    border-radius: 0.6rem;
    box-shadow: 0 0 1rem #000;
  }
}
