html,
body,
#app,
#home,
#chat {
  height: 100%;
  width: 100%;
}

#chat {
  .invite {
    margin-left: 1rem;
    padding: 0 1rem;
    height: 3rem;
    line-height: 3rem;
    color: $fontColor;
  }

  #my-stream {
    position: relative;
    text-align: center;
    margin: 0 1rem;
    height: 30%;

    &.expanded {
      height: 50%;
    }

    #my-video {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      max-height: calc(100% - 1rem);
      margin: auto;
      margin-bottom: 1rem;
      transform: rotateY(180deg);
    }

    @media (max-height: 20rem) {
      #my-video {
        display: none;
      }
    }

    #controls {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin-bottom: 2rem;
      transition: opacity 0.5s ease;
      opacity: 0;

      &.shown {
        opacity: 1;
      }

      .control {
        border-radius: 50%;
        width: 5rem;
        height: 5rem;
        line-height: 5rem;
        margin: 0 1rem;
        padding: 0;

        &#hang-up {
          background-color: $hangUpBackgroundColor;
          border: 0;

          &:hover {
            background-color: $hangUpBackgroundColor;
            border: 0;
          }
        }

        &.on {
          background-color: $transparentBackgroundColor;
          border: 0;

          &:hover {
            background-color: $transparentBackgroundHoverColor;
            border: 0;
          }
        }

        &:disabled {
          background-color: $disabledBackgroundColor;

          &:hover {
            background-color: $disabledBackgroundColor;
          }
        }

        svg {
          vertical-align: middle;
        }
      }
    }

    .no-video {
      height: 100%;
      width: 100%;
      max-width: 300px;
      max-height: calc(100% - 1rem);
      padding: 10%;
      border-radius: 0.6rem;
      box-shadow: 0 0 1rem #000;
      color: $userNoVideoColor;
      background: #000;
      margin: auto;
    }
  }

  video {
    max-width: 100%;
    max-height: 100%;
    border-radius: 0.6rem;
    box-shadow: 0 0 1rem #000;
  }
}
