#peer-streams {
  display: grid;
  padding: 1rem;
  height: calc(70% - 4rem);

  &.shrunk {
    height: calc(50% - 4rem);
  }

  #initializing-swarm,
  #awaiting-peers {
    margin-top: 4rem;
  }

  .peer-stream {
    display: flex;
    align-items: center;
    justify-content: center;

    .stream-wrapper {
      position: relative;

      .video-placeholder {
        background: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.6rem;
        -webkit-box-shadow: 0 0 1rem #000;
        box-shadow: 0 0 1rem #000;
      }

      video {
        vertical-align: bottom;
      }

      .nickname {
        position: absolute;
        bottom: 1rem;
        left: 1rem;
        padding: 0 1rem;
        margin: 0;
        height: 3rem;
        line-height: 3rem;
        color: $fontColor;
        background-color: $transparentBackgroundColor;
      }
    }
  }
}
