#peer-streams {
  display: grid;
  padding: 1rem;
  height: calc(70% - 4rem);

  &.shrunk {
    height: calc(50% - 4rem);
  }

  #initializing-swarm,
  #awaiting-peers {
    margin-top: 4rem;
  }

  .peer-stream {
    display: flex;
    align-items: center;
    justify-content: center;

    .stream-wrapper {
      position: relative;

      .nickname {
        position: absolute;
        bottom: 1rem;
        left: 1rem;
        padding: 0 1rem;
        height: 30px;
        line-height: 30px;
        color: $fontColor;
        background-color: $transparentBackgroundColor;
      }
    }
  }
}
